@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Nunito+Sans:wght@700&display=swap");

.text-xss {
  font-size: 10px;
}
.text-xsss {
  font-size: 9px;
}
.app-button {
  @apply w-auto
    border border-gray-300
    rounded-full
    px-4
    py-1
    hover:shadow-md
    cursor-pointer
    dark:hover:bg-gray-200
    dark:bg-gray-300;
}
